// This is the Main Stylesheet
// Theme Author: Aline Ferreira
// Version: 1.0

//CSS Style Structure


// Fonts
// Variables
// General
// Container


@import '_base/variables';
@import '_base/fonts';


/*********************************
* GENERAL 
**********************************/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: $base-font;
    font-size: 14px;
}

body {    
    color: $text-color;
    background-color: $bg-color;

    button, select, input {
        &:focus {
            outline: none;
        }
    }
}

/*********************************************
    DARK THEME 
**********************************************/
body.dark {    
    color: $dark-text-color;
    background-color: $dark-bg-color;

    header {
        background-color: $dark-bg-header;
        border-bottom: 1px solid rgba(238, 238, 238, 0.15);
    }

    nav {
        background-color: $dark-bg-nav;
        box-shadow: none;
    }

    footer {
        background-color: $dark-bg-footer;
        border-top: 1px solid rgba(238, 238, 238, 0.15);

        .footer-top {
            border-bottom: 1px solid rgba(238, 238, 238, 0.15);

            .box-footerTop .logo-footer {
                background: url($logo-footer-dark) no-repeat left;
            }
        }

        .footer-middle .box-footerBottom .box-app a.link-app{ 
            &.app-store {
                background-image: url($img-appStore-dark);
            }
            &.google-play {
                background-image: url($img-googleplay-dark);
            }
        }


        .footer-bottom {
            background-color: $dark-bg-footer-bottom;
            
            a {
                color: #fff !important;
            }        
        }
    }
}
/*********************************************
    CONTAINER 
**********************************************/

.container {
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 768px) {
        width: initial;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1200px) {
        width: 1170px;
    }
}

