// This is the file with the variables
// Theme Author: Aline Ferreira
// Version: 1.0

//colors
$main-color: #F35C58;
$light-gray: #F1F2FA;

$text-color: #606064;
$bg-header: $light-gray;
$bg-footer: $light-gray;

$fonts_path: '../../src/assets/fonts';
$imgs_path: '../../src/assets/images/';

$logo-principal: $imgs_path + '/logo-sky.svg';
$logo-footer: $imgs_path + '/logo-sky-gray.svg';
$icon-app: $imgs_path + '/app-icon.png';
$img-appStore: $imgs_path + '/button-apple-store.svg';
$img-appStore-over: $imgs_path + '/button-apple-store-over.svg';
$img-googleplay: $imgs_path + '/button-google-play.svg';
$img-googleplay-over: $imgs_path + '/button-google-play-over.svg';







